@model DDB_API.Models.UserLogin

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <h2>Login</h2>
            @using (Html.BeginForm("CheckLogin", "UserLogins", FormMethod.Post))
            {
                
                <label>Username </label>
                @Html.EditorFor(model => model.username)
                <label>Password </label>
                @Html.PasswordFor(model => model.userPassword)

                <input type="submit" value="Login" class="btn-default" />

            }

        </div>
    </div>
</div>
